<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
		<http auto-config="true">
		<intercept-url pattern="/admin**" access="ROLE_ADMIN" />
		<intercept-url pattern="/movies**" access="ROLE_ADMIN" />
		<intercept-url pattern="/agecategories**" access="ROLE_ADMIN" />
		<intercept-url pattern="/countries**" access="ROLE_ADMIN" />
		<intercept-url pattern="/directors**" access="ROLE_ADMIN" />
		<intercept-url pattern="/genres**" access="ROLE_ADMIN" />
		<intercept-url pattern="/years**" access="ROLE_ADMIN" />
		<intercept-url pattern="/rent" access="ROLE_USER" />
		<intercept-url pattern="/useredit**" access="ROLE_ADMIN" />
		<intercept-url pattern="/delete**" access="ROLE_ADMIN" />
		<intercept-url pattern="/login**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/rentguest**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<access-denied-handler error-page="/404.html"/>
		<form-login 
		    login-page="/login.html" 
		    default-target-url="/welcome.html"
		    always-use-default-target="false" 
			authentication-failure-url="/login.html?error" 
			username-parameter="login"
			password-parameter="password" />
		<logout logout-success-url="/user.html?logout" />
		<!-- enable csrf protection -->
		<csrf/>
	</http>
 
	<authentication-manager>
	  <authentication-provider user-service-ref="myUserDetailsService">
	  		<password-encoder hash="bcrypt"/>  
	  </authentication-provider>
	</authentication-manager>
 
</beans:beans>